[2016-08-03 20:48] assiri opened #2 "npm install react-reader not working"

[2016-08-24 08:26] 13141062188 opened #4 "Some epub can not open"
invalid input TypeError: invalid input
or
Could not load book at: undefined

[2016-10-24 13:37] gmontard commented on #2
+1

[2016-10-25 19:56] gerhardsletten commented on #2
Hi, there was an submodule in the fork of epub.js that created this trouble. Should be fixed now.

[2016-10-25 19:56] #2 closed

[2016-10-25 20:03] gerhardsletten commented on #4
Yes, it looks like the development of [epub.js v3](https://github.com/futurepress/epub.js/tree/v0.3) still is not ready, and this react-wrapper are depending of this to be stable before it would open all epub v2 files.

But you could try to fork this, and point the dependency of epub.js v3 branch directly to their repo and see it that would fix the issue with your books. If it do, send me a pull r

[2016-12-17 02:55] ituaijagbone opened #5 "Updates to epub.js v0.3.7 breaks react-reader"
Will there be an update to react-reader as the new version of epub.js (0.3.7) breaks the reader. v0.3.7 with this error: `rendition.js:198 Uncaught TypeError: this.ViewManager is not a constructor`

[2017-01-08 21:22] gerhardsletten commented on #5
@ituaijagbone Would you check to see if the latest updates have fixed this issue?

[2017-01-10 15:26] ituaijagbone commented on #5
@gerhardsletten yes it has. I can close the issue now. Thanks.

[2017-01-10 15:26] #5 closed

[2017-01-27 12:12] zipme opened #6 "Does not work in IE 11"
Is that an issue from epubjs v0.3?

[2017-01-27 13:27] gerhardsletten commented on #6
@zipme It would be great if you check the epubjs v0.3 directly, write now my usage of this library is within an cordova app, and I am working on a mac, so it is not so easy for me to test this

[2017-01-27 13:27] #4 closed

[2017-02-06 17:44] RareNCool commented on #5
What's the latest version of react-reader? An install gives me 0.10.0, and it still has this issue.

[2017-02-06 18:17] gerhardsletten commented on #5
@RareNCool Yes, did forgot to push the latest update to github. The [demo should be updated](http://gerhardsletten.github.io/react-reader/) as well now. You are not running in some legacy browser?

[2017-02-06 18:20] RareNCool commented on #5
@gerhardsletten Tested in Chrome v55.0.2883.87 m and Opera v42.0.2393.517. I was doing a `yarn add` from CL, should I be using what's here on GitHub instead?

[2017-02-06 18:25] gerhardsletten commented on #5
Check your version of epubjs, if it has been a dependency of your project from before, it could be an older release.

[code]

[2017-02-06 18:28] RareNCool commented on #5
EpubReader@0.0.1 C:\Users\Shawn\Documents\GitHub\epub-reader
`-- react-reader@0.10.0
  `-- epubjs@0.3.11

[2017-02-06 18:35] RareNCool commented on #5
@gerhardsletten Here's the project, if it helps: https://github.com/RareNCool/epub-reader

[2017-02-06 22:04] gerhardsletten commented on #5
@RareNCool Think you have a problem with webpack2, I see that if i downgrade to `webpack 1.12.11`in your lib, it builds. Then you will also need to wrap the reader in an div that has a defined height-property <div style={{height: '100%', position: 'relative'}}>...</div>

[2017-02-07 02:42] RareNCool commented on #5
That did it, along with a downgrade of `webpack-dev-server`. Thanks!

[2017-03-25 21:04] heymartinadams opened #7 "Showing “loading...” in Cordova app"
Hi @gerhardsletten, not sure if this is an error related to `react-reader` or if it lies with my project—when running `react-reader` as a react web app, it loads epub files without any issues, but once I run my react app inside Cordova as an iOS app, the `Loading...` keeps displaying and not show the epub file.

ps. the `/epub` folder is located within the `/www` folder in Cordova.

[code]

Any po

[2017-03-25 21:19] gerhardsletten commented on #7
Thanks.

Have you tried to inspect the application through Safari, to see what what errors are shown? I don't think cordova mount your index.html in a root, so starting the url with a / will not work.

[Maybe this will get you in the right direction](http://stackoverflow.com/questions/21880109/phonegap-how-to-access-file-in-www-folder)?

[2017-03-25 21:19] #7 closed

[2017-03-25 21:19] #6 closed

[2017-03-26 00:44] heymartinadams commented on #7
I tried it all, including `cordova.file.applicationDirectory + 'www/epubs/' + lang + '-' + name + '.epub'`. Then I came across this:

https://www.raymondcamden.com/2015/01/21/phonegapcordova-tip-working-with-files-under-www-and-android

Stumped. In any case, thanks. If I find a solution, I’ll post it here.

[2017-03-26 01:18] heymartinadams commented on #7
Using the actual file path doesn’t work either:
`file:///Users/username/Library/Developer/CoreSimulator/Devices/C37E3CAD-A2F1-4CE9-931C-592B0038B09E/data/Containers/Bundle/Application/43E10805-6030-4EAD-AF9F-850E08FE5F9F/MyExampleApp.app/www/epubs/en-lifepath-36-9-intro.epub`

[2017-03-26 04:17] heymartinadams commented on #7
I do wonder, @gerhardsletten, whether the issue is with `react-reader` for Cordova since I am able to correctly locate and access the files—just not via `react-reader`.

[2017-03-26 18:46] heymartinadams commented on #7
Tried running `EpubView` instead of `ReactReader` and seeing the following error message in iPhone Simulator system log:

[code]

[2017-03-28 23:29] gerhardsletten commented on #7
I am not sure why loading the epub from the www-directory fails, but with the use-case I have, I'am download the file from an url and place them it the apps document-directory with `cordova-promise-fs` (a wrapper for cordova-file-plugin). This is a basic example of who you would do it (you will need to convert it to es5 with your babel/webpack setup):

NB! Write now there is an issue with the late

[2017-03-29 02:21] jm2242 opened #8 "Uncaught (in promise) TypeError: json.map is not a function"
First of all, thanks for this library, this is so awesome. I'm really excited to use it.

I'm trying to get the following example to work:
[code]

I'm using Facebook's create-react-app. Upon navigating to the route which loads this component, I get the following error:

![image](https://cloud.githubusercontent.com/assets/8572502/24435646/9954d784-1404-11e7-8ab0-e6cc828f8761.png)

I'm already impor

[2017-03-29 06:42] gerhardsletten commented on #8
Hi @jm2242

Check to see if you have the latest version av react-reader which have epubjs#0.3.22 as dependency, there was published an version of epubjs earlier this week which contained an error.

[2017-03-29 23:17] heymartinadams commented on #7
Thank you, @gerhardsletten~! Still working on it...

Turns out, I hadn’t installed `cordova-plugin-file-transfer` (I did have `cordova-promise-fs` via `npm` and `cordova-plugin-file` via `cordova plugin add`). Now at least I’m receiving a download error. Will update this once I figure out the error.

[2017-03-30 02:02] heymartinadams commented on #7
Yay! After days of trying to solve this issue—your above solution did the trick! The key is to `fs.download` each file from the `www` folder into Cordova’s persistent file system.

@gerhardsletten, **THANK YOU**. That was really a big help. I’ve been loosing faith that I could get this to work.

Hopefully the below solution can help others who run Cordova apps and store files locally in the `www/`

[2017-03-30 04:32] heymartinadams opened #9 "Suggestion: use onTouchTap instead of onClick"
Changing `onClick` to `onTouchTap` in the `ReactReader.js` file using the [`react-tap-event-plugin`](https://github.com/zilverline/react-tap-event-plugin) removes the 300ms lag time when clicking left/right buttons for when ReactReader is used in Cordova 💯

[2017-03-30 07:22] gerhardsletten commented on #7
Great to hear!

[2017-04-01 12:39] jm2242 commented on #8
That was it! Thanks!

[2017-04-01 12:39] #8 closed

[2017-04-01 20:36] gerhardsletten commented on #9
Are you sure you still have this delay if you add the viewport / device-width metatag. Think it supported in most modern browsers today.

[From safari 9.1 release note](https://developer.apple.com/library/content/releasenotes/General/WhatsNewInSafari/Articles/Safari_9_1.html#//apple_ref/doc/uid/TP40014305-CH10-SW1)

[And chrome](https://developers.google.com/web/updates/2013/12/300ms-tap-delay-gon

[2017-04-03 16:26] heymartinadams commented on #9
Hi @gerhardsletten, yes I had added the viewport / device metatag and it was still giving me the lag. The lag disappeared when I either used the [`fastClick`](https://github.com/ftlabs/fastclick) library or the [`react-tap-event-plugin`](https://github.com/zilverline/react-tap-event-plugin).

[2017-04-03 16:36] #9 closed

[2017-05-07 14:56] miwa911 opened #10 "Support highlight a text"
Hi @gerhardsletten , I'm very interested in your project. I can use this to show ePub file well. But now I want to make a highlight of text in ePub file. I see that in ePubjs that support highlight function through a "[hook](https://github.com/futurepress/epub.js/blob/master/reader/js/hooks/extensions/highlight.js)". I don't know how to integrate it with your project.

Basically, I want to create

[2017-05-08 13:33] gerhardsletten commented on #10
Hi @miwa911, I have merged the latest version of epubjs v3 branch today, and added a function where you will have access to epubjs's rendition object through react-reader, see [demo/App.js](https://github.com/gerhardsletten/react-reader/blob/master/demo/App.js#L42) for an example, and let me know it this will work for you.

React-readers are building on top of the v3 branch of epubjs, so not all f

[2017-05-08 13:33] #10 closed

[2017-05-08 13:40] miwa911 commented on #10
Thank you @gerhardsletten, I will check it.

[2017-05-08 14:40] miwa911 commented on #10
@gerhardsletten  Awesome, the highlight function works like charm.
One more question, has v3 branch of epubjs support note?

I did some research

In reader demo, there is a note_controller
[https://github.com/futurepress/epub.js/blob/70fb1c957017db6010d77c541da889825aa88fb9/reader_src/controllers/notes_controller.js](https://github.com/futurepress/epub.js/blob/70fb1c957017db6010d77c541da889825aa88

[2017-05-08 20:12] gerhardsletten commented on #10
Not sure, you will need to inspect which underlaying epub-features this note-thing use, and check if its available in the v3 branch. I am not planing react-reader to be a full stack reader in its self, its more like a component you can use to display epubs, but let me know if there are underlaying epubjs api's you cant reach.

[2017-07-03 20:23] ricardo5401 opened #11 "Font size"
Hi!!!
First, congratulations for you great job. My question is, how do I change the font size to epub?

[2017-07-12 22:34] gerhardsletten commented on #11
@ricardo5401 See [#usage in READMe](https://github.com/gerhardsletten/react-reader#usage), there is a getRendition function where you can spesify a theme, think you should be able to override the font-size there

[2017-07-15 19:46] ricardo5401 commented on #11
Yes, I checked it. However, it runs only once and I always wanted access to it. Anyway I found a way to change the styles when the page was already displayed. I injected the style in the iframe document, it is not recommended but it works and I did not have to break anything of his work :D

[2017-07-15 19:46] #11 closed

[2017-10-02 18:09] justfede opened #14 "find in chapter / current page?"
There's any search method?

Thanks!

[2017-10-04 06:50] gerhardsletten commented on #14
@justfede You can inspect the object returned form getRendition method, but I think only current chapter is loaded (and can be search client-side). Else check out [this thread on epub.js about searching](https://github.com/futurepress/epub.js/issues/47)

[2017-10-08 18:15] inv2004 opened #16 "Expected a component class, got [object Object]"
Hello,

I was trying to run your example from readme.

The only change I did it: export default class App extends Component ...

But during loading page I have an error: Expected a component class, got [object Object].

Could you please let me know is it my mistake (but its just an example) or I have to stick to another version?

Thank you,

[2017-10-09 09:02] #14 closed

[2017-10-13 08:26] gerhardsletten commented on #16
There was a missing bracket in the example, fixed now

[2017-10-13 08:26] #16 closed

[2017-10-16 05:59] inv2004 opened #17 "Are there any plans for react-native version ? #question"
Hello,
Are there any plans for react-native version ?

Thank you,

[2017-10-18 21:25] gerhardsletten commented on #17
Hi, haven't done anything for it yet. But I guess with the epub-js core you would need to have a have a WebView where javascript is injected to communicate between the native-part. A little bit unsure on how well a mixed module both native and web would work. It probably whould need to be a separate module.

[2017-10-18 22:27] #17 closed

[2017-10-29 19:32] kimpers opened #18 "How to get a list of all pages given the current device resolution?"
Hi,

I am trying to implement a slider allowing the user to go back and forth between the pages in the book, I also want to display a progression indicator for how far they have read.

With the vanilla `epub.js` this seems rather easily achievable according to their example, however I am not able to reproduce this in `react-reader`. Is there support for doing this in `react-reader`?

Thanks for a

[2017-10-31 06:39] mira-thakkar opened #19 "Toc redirection is not working"
I have installed this package and trying to implement react reader with the given example file.Next and previous page functionality is working properly, but nothing happens on TOC item click. I also want to get the page number or some indicator that shows how far the user has reached on completing the book.
[code]
On location change, i have log it on the console, that shows it like 'Chapter_001.xh

[2017-10-31 13:01] evivz opened #20 "Multipart ePub"
Hello, Is there anyway to read multipart epub?

What i mean is I have epubs with multiple chapters and each as single single epub. But I want to show them as one runtime. Is it possible with this reader?

[2017-11-17 08:27] gerhardsletten commented on #18
Hi @kimpers thanks!

If you look at [the example](https://github.com/gerhardsletten/react-reader#usage) and the `getRendition` function, this will give you the core epub-js object, you will have to look into it.

By the way, in which example of epub-js did you found this? Could you paste the link, and I will take a look also.

[2017-11-17 08:36] gerhardsletten commented on #19
Hi @mira-thakkar, not sure why the toc-button is not working in your code. Could you download this repo and run the demo `npm i && npm start` and see if it works there?

Also the way epubjs work, is that is take the html-content of the current chapter and draw it inside an element with css-columns, it then figur out what this elements with is and calculate the number of pages based on that. So you

[2017-11-17 08:39] gerhardsletten commented on #20
Dont think so, you would typically need to build a book-shelf yourself, and then use react-reader to display the current e-pub file. Take a look [at this page](http://bokhylla.elevforlaget.no/#/) (which used react-reader)

[2017-11-29 22:19] kimpers opened #21 "Does not render on Firefox Quantum"
React-reader does not seem to render when using the newest Firefox Quantum (OSX)

<img width="1032" alt="image" src="https://user-images.githubusercontent.com/5450545/33401988-806bf946-d55b-11e7-9b29-d1d28a3e07dd.png">

Reproduction steps:
1. Visit https://gerhardsletten.github.io/react-reader/ with Firefox Quantum

[2017-12-01 10:50] kimpers commented on #18
Hi @gerhardsletten, sorry for the late reply. I missed the notification of you answering this.

So what I am trying to do is have a slider for navigating between pages. Like this example from epubjs: https://github.com/futurepress/epub.js/blob/master/examples/pagination.html

The problem is that I can't seem to get a list of pages so I know where to navigate when the user moves the slider an arbit

[2017-12-06 06:31] mira-thakkar commented on #21
@gerhardsletten I am also getting the same issue on firefox, have checked on both 56.0 and 57.0(Quantom) version.
@kimpers do you get any solution for this ?

[2017-12-06 23:40] gerhardsletten commented on #21
Hi, there have been some months since I pulled epubjs latest updates from v0.3 branch, but now I have switch back to use the epubjs package directly (did use a custom fork because there use to be some strange updates which breaked this library). It now works in FF for me.

[2017-12-06 23:40] gerhardsletten commented on #21
Have published 0.16.1 to npm..

[2017-12-07 18:24] kimpers commented on #21
Working fine on Quantum now.  🎉  Thanks @gerhardsletten

[2017-12-07 18:24] #21 closed

[2017-12-08 07:31] mira-thakkar commented on #19
@gerhardsletten It worked

[2017-12-08 07:31] #19 closed

[2017-12-08 07:38] mira-thakkar opened #22 "Ugllify Js error on building app while using react-reader dependency"
I am using react-reader for Epub reader in my app, It works fine while i run the app like "node server.js" but it fails when i create the build of the app. I am getting error like
` "Unexpected token name «of», expected punc «;»" `
 I have checked by removing import of react-reader and app build works fine.This was working fine in previous  version of react-reader.
can anyone help me with this ugl

[2017-12-08 13:29] gerhardsletten commented on #22
Sorry, but this is a problem with [fchasen/marks](https://github.com/fchasen/marks), its is not correctly transpilled to es5. Maybe you could create a issue/pull request there to fix it?

Else you will have to disable uglify or include that library webpack babel rule.

[2017-12-09 23:21] gerhardsletten commented on #18
Hi @kimpers, that example is from the master-branch of epubjs, but its the v0.3 which we can use, because it adds modular structur, and in that branch not everything that is in master is implemented. Also I  epubjs in only aware of the number of pages after it has rendered a chapter, so you would need to do a pre-render of each chapter in a book, or guess each chapters based of content-length of e

[2017-12-09 23:54] kimpers commented on #18
@gerhardsletten  so if I understand you correctly then having a slider for switching pages like this will not be doable with `react-reader`?

[2017-12-09 23:59] kimpers commented on #22
I made a temporary workaround for this by adding the below lines to my webpack prod config
[code]
This is only an intermittent fix and should not be used permanently

[2017-12-10 21:33] gerhardsletten commented on #18
Yes, think its kind of hard to get it right with web-technologies, the example you linked above dont work very good either: [futurepress.github.io/epub.js/examples/pagination.html](http://futurepress.github.io/epub.js/examples/pagination.html)

You would need a backend node server, with a headless browser that would need to compute each chapter in the exact window-size of the users device.

[2017-12-10 21:54] kimpers commented on #18
Thanks for the feedback. What about a continuous scrolling solution. Ignoring pages and just making the ebook a long fluid scrolling experience. Would that work with `react-reader`?

[2017-12-10 22:16] gerhardsletten commented on #18
Think they have a regular scrolling option, but it is still for only one chapter at the time. You have a `epubOptions` in react-reader, and that is passed to the epubjs's rendition-object, take a look here:

[github.com/futurepress/epub.js/blob/v0.3/src/rendition.js#L34](https://github.com/futurepress/epub.js/blob/v0.3/src/rendition.js#L34)

I have seen some authors publishing the whole book in on

[2017-12-12 06:00] mira-thakkar commented on #22
@kimpers Thanks!

[2017-12-12 06:00] #22 closed

[2017-12-16 13:12] kimpers commented on #18
Thanks for the help @gerhardsletten, I'll close this issue now and evaluate my options

[2017-12-16 13:12] #18 closed

[2018-01-02 09:10] #20 closed

[2018-01-20 01:31] astromme opened #24 "selection in readme code calls unknown function contents.mark"
I'm using app code from the readme:

[code]

Getting the following exception:
TypeError: contents.mark is not a function
Rendition.App._this.onRenditionSelection
src/App.js:20
[code]

[2018-01-21 00:11] gerhardsletten commented on #24
Could be some changes in the underlaying epubjs library, will take a look at it

[2018-01-21 00:12] gerhardsletten commented on #24
@astromme By the way, what browser/version was you using it in?

[2018-01-21 00:15] astromme commented on #24
Latest chrome stable. I don't remember react reader or epubjs version, just
that they were installed with npm yesterday.

On Sat, Jan 20, 2018, 4:12 PM Gerhard Sletten <notifications@github.com>
wrote:

[2018-01-29 09:35] gerhardsletten commented on #24
@astromme I have removed the example now. The underlaying epubjs library has problably changed some apis, so if folks need selection they would need to look into its code to how to handle it.

[2018-01-29 09:35] #24 closed

[2018-01-30 03:13] epubreader opened #25 "please update epubJs version to v0.4, thanks."
please update epubJs version to v0.4, thanks.

[2018-01-31 23:53] Ken-2scientists opened #26 "epubjs dependency breaks `react-scripts build`"
I just started using the `ReactReader` component in an app today for the first time, and I was thrilled at how quickly I was able to start to render ePubs. So, thanks for putting this out there!

I encountered an issue, though, when I attempted to build the app to deploy it. I'm working with an app generated via [create-react-app](https://github.com/facebook/create-react-app), with `react-scripts

[2018-02-10 15:56] epubreader opened #27 "please fix the width problem"
thanks
![screenshot_20180210-235323](https://user-images.githubusercontent.com/8253681/36063915-fe6c6d80-0ebd-11e8-962a-d041030f4de2.jpg)

[2018-02-12 23:15] gerhardsletten commented on #26
Hi @Ken-2scientists

Thanks, there are issues with the underlaying epubjs library and it has been discussed before see #22

But I did publish and updated version of react-reader using epubjs/lib/index because its package.json module field pointing to code that is not correctly transpiled. Let me know if that fixes your issues

[2018-02-12 23:16] gerhardsletten commented on #27
See [github.com/futurepress/epub.js/issues/698](https://github.com/futurepress/epub.js/issues/698)

[2018-02-12 23:19] gerhardsletten commented on #25
@epubreader Is there something special in v0.4 you are missing? The branch is quite new, and I am not sure whats the author of epubjs intention is with it..

[2018-03-14 03:55] epubreader opened #28 "fullscreen feature"
can you help to add this feature?
when user click the full screen button, it can enter full screen model
https://github.com/sindresorhus/screenfull.js

[2018-03-16 00:15] #27 closed

[2018-03-16 00:15] #25 closed

[2018-04-16 11:37] #26 closed

[2018-04-16 11:37] #28 closed

[2018-05-16 16:12] gunningham opened #29 "Imports failing"
We're getting the following:

`(function (exports, require, module, __filename, __dirname) { import EpubView from ‘./EpubView/EpubView’;
^^^^^^
SyntaxError: Unexpected token import`

When we build to development with version 0.17. Believe it's something to do with this line:
`const modules = NODE_ENV === 'production' ? false : 'commonjs'`

Version 0.16.7 works but we also need the latest epubjs ve

[2018-05-23 10:11] gerhardsletten commented on #29
Hi, @gunningham

Thats from the `.babelrc.js` file, do you do some custom inclusions of the library? Like `npm link react-reader` from a local clone?

Just published a new version `react-reader@0.17.1` where the `.babelrc.js` file is added to the npmignore file so you could try with that one.

[2018-07-23 22:56] tylerwhipple opened #31 "Scrolling"
Hello and thank you for all your work on this project.

I was wondering if it was possible to use a continuous scrolling view?

I keep trying to change the epuboptions, but to no avail. Is it possible with this or do I need to do something with the epub.js?

[2018-08-27 08:19] #29 closed

[2018-09-19 15:06] niponchi commented on #31
This works for me.

[code]
reference: https://github.com/futurepress/epub.js/blob/master/examples/continuous-scrolled.html

[2018-09-27 10:35] jithinkradhakrishnan opened #32 "IE 11 issue"
When try to open in IE 11 its rendering but not able to select any content

SCRIPT70: Permission denied
d9468a00-74c1-4d11-915c-f4c046ae0f6d (50050,4)

[2018-09-27 19:43] Javierenrique00 opened #33 "Error: No Section Found"
Hello, running the project without making changes in the code I found the following error while executing the app in the console:

rendition.js:392 Uncaught (in promise) Error: No Section Found
    at Rendition._display (rendition.js:392)
    at Queue.dequeue (queue.js:99)
    at queue.js:153

I changed epubjs version to see if it solved the problem and the same. Do you know what could be the prob

[2018-10-12 08:51] #31 closed

[2018-12-03 13:51] #33 closed

[2018-12-03 13:52] #32 closed

[2018-12-07 08:08] epubreader opened #34 "can you add night mode for epub reader"
can you add a night mode for epub reader

[2019-01-18 10:02] VimLeSai opened #35 "Feature request : add documentaion about `epubOptions`"
There is nothing about epub options in readme.md and i can't find worthy content about it most.
#### any help will be apriciated

[2019-01-31 03:07] toreal opened #36 "display subitem of TOC"
Thank you for your nice work.
But in your work, it seems cannot show the subitem of the table of contents.

Is it possible to do that? If it is possible. how should I do?

[2019-02-12 11:26] siddhudhangar opened #37 "epub rendering issue."
I followed some steps to install react reader on mint system, that is as follows,
1. i ran this react reader installation command
      npm install react-reader --save
2. I copied below code in my app.js file.
import React, { Component } from "react";
import { ReactReader } from "react-reader";

class App extends Component {
  render() {
    return (
      <div style={{ position: "relative", heigh

[2019-02-12 13:05] siddhudhangar opened #38 "No Section Found error"
When i tried to load my epub file through react reader, it was not working. In console it was showing me below error message.
Unhandled promise rejection Error: "No Section Found"
	_display http://localhost:3000/static/js/1.chunk.js:29432:27
	dequeue http://localhost:3000/static/js/1.chunk.js:33605:20
	run http://localhost:3000/static/js/1.chunk.js:33654:11
index.js:1446
d/console[e]
index.js:1446

[2019-03-08 17:23] purusingh opened #39 "not working with typecript"
@types/react-reader is not found

[2019-03-11 13:51] gerhardsletten commented on #39
I do not use typescript, but feel free to ad a PS for it

[2019-03-11 13:57] gerhardsletten commented on #38
This is most likely a problem within the dependency epub-js and maybe variants over the official epub-standard. Check that your epub confirms to the standard and if the error is from epub-js

[2019-03-11 13:57] #38 closed

[2019-03-11 13:59] gerhardsletten commented on #37
In the console I see an error from a library named popover, it this something you have added yourself?

[2019-03-11 13:59] gerhardsletten commented on #36
Please add a PR for this and I will add support for it

[2019-03-11 14:03] gerhardsletten commented on #35
A link to epub.js library is added now

[2019-03-11 14:03] #35 closed

[2019-03-11 14:07] gerhardsletten commented on #34
For advanced reader features you could use the `EpubView` directly, take a look at how it is used [ReactReader view](https://github.com/gerhardsletten/react-reader/blob/master/src/modules/ReactReader/ReactReader.js)

[2019-03-11 14:07] #34 closed

[2019-04-15 09:30] #36 closed

[2019-04-15 09:31] #37 closed

[2019-05-15 07:43] goonursultan commented on #37
@gerhardsletten How can I add this block to reader

![image](https://user-images.githubusercontent.com/38785567/57757464-58d7c680-7717-11e9-9676-1caad3702d21.png)

[2019-05-25 16:39] kozec commented on #33
https://github.com/futurepress/epub.js/issues/684#issuecomment-495931737

[2019-05-31 08:44] aroopghoshtarento opened #40 "In IE 11 and Edge its not working"
For my application I need this to work in IE11 and Edge, but its not working. I am always getting permission error. Is there any way by which I can make it work?

[2019-06-06 03:38] turnerhayes opened #41 "SVG items in spine don't render correctly"
If the spine contains a non-(X)HTML item (say, an SVG file), the content won't be displayed and a JS error will appear in the console.

See https://codesandbox.io/s/keen-fog-dlij1 for reproduction (you may need to open the output in a new window, and open DevTools).

The .epub file was taken from https://github.com/IDPF/epub3-samples

[2019-06-07 01:59] turnerhayes opened #42 "TOC uses incorrect refs"
Reproduction sandbox: https://codesandbox.io/s/loving-dhawan-pl8z4

Open the TOC and click on one of the entries (e.g. Chapter 1)

Note that the following error appears in the console and the TOC item is not displayed:

[code]

This seems to arise because it's trying to change location to `"fcla-xml-2.30li8.xhtml"`, but the key for it in `spineByHref` is `"xhtml/fcla-xml-2.30li8.xhtml"`

[2019-06-11 13:09] xypnox opened #43 "Is there a way to open ePub from file input?"
Is there a way to open a epub file in viewer from a file input? It would make the user select the epub file rather than load from a URL?

I have tried creating a ObjectURL and passing it but it doesn't work.

For reference : [Stack Overflow Question](https://stackoverflow.com/questions/56544350/how-can-i-load-a-epub-from-file-input-to-epub-js-reader)

[2019-06-20 09:57] #40 closed

[2019-06-28 10:58] sharan-satkhed opened #44 "Some epub docs are not getting rendered by ReactReader component"
Some epub docs are not getting rendered by ReactReader component and also it is not showing any errors in console.

Please find below sample .epub file which has the issue. Here am not able to upload directly .epub so compressed it to .zip.

[a00041476en_us_2.zip](https://github.com/gerhardsletten/react-reader/files/3338813/a00041476en_us_2.zip)

Page is coming up without doc content, below is the

[2019-08-20 07:34] sharan-satkhed commented on #44
Hi @gerhardsletten,
could you please look into this issue?

[2019-08-20 10:25] gerhardsletten commented on #44
Hi @sharan-satkhed

I am no expert in the epub-format, but there is probably something with your file, you will need to unzip it and compare its content with a epub that is working

[2019-08-20 10:25] #44 closed

[2019-08-20 10:34] gerhardsletten commented on #43
If you in the application let user upload files, you will need to use the html5 file-api to get the local url for you epub-file, and serve this url to ReactReader. In one cordova-app I use https://github.com/markmarijnissen/cordova-promise-fs and when I develop this in the browser I can confirm that this work in chrome as well

[2019-08-20 10:34] #43 closed

[2019-08-20 10:39] gerhardsletten commented on #42
This is caused by the fact that the href is used as ref, but I guess if the same href is in the list there will be a dublicated key, updating to use the index in the array instead in next version published soon.

[2019-08-20 10:39] #42 closed

[2019-08-20 10:40] gerhardsletten commented on #41
Maybe you will need to add the svg into a html-chapter and display it this way? Not sure if you can use something else than html-files in the spine.

[2019-08-20 10:40] #41 closed

[2019-09-23 16:53] muriloneo opened #45 "Error when using import { ReactReader } from "react-reader";"
Fresh install.
`react-native init epub1`
`npm install react-reader --save`

change App.js with example:
[code]
`react-native run-ios`

package.json
"dependencies": {
    "react": "16.8.6",
    "react-native": "0.60.5",
    "react-reader": "^0.17.11"
  },
  "devDependencies": {
    "@babel/core": "^7.6.0",
    "@babel/runtime": "^7.6.0",
    "@react-native-community/eslint-config": "^0.0.5",
    "b

[2019-10-07 13:03] gerhardsletten commented on #45
Hi, @muriloneo `react-reader` is not a react-native package, but meant to be used in regular react-apps (web-app)

[2019-10-07 13:03] #45 closed

[2019-10-28 00:08] naissa12 opened #46 "Is it possible for people to highlight text in the reader?"
Is it possible for people to highlight text in the reader?

[2019-12-01 00:24] DLevai94 opened #48 "react-reader@0.17.11 compile: `NODE_ENV=production babel --optional runtime -d lib/ src/modules/`"
Yarn fails while trying to install.

[code]

[2019-12-09 15:27] MichaelSavin opened #49 "Not working with S3 signed URL"
**Problem:** S3 signed URL isn't working with react-reader, but working with `epub.js` if you specify the type exactly using `openAs` property.
Signed URL looks like http://localhost:9001/public/5114fa60-190d-11ea-b37e-c35bb6f93bd3-9785969114302.epub?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=minio%2F20191209%2F%2Fs3%2Faws4_request&X-Amz-Date=20191209T101525Z&X-Amz-Expires=432000&X-Amz-Sign

[2019-12-10 07:05] eshaw29 opened #50 "Looking to get page numbers"
Trying to access the book underneath to render and get current page numbers as done here:

https://github.com/futurepress/epub.js/wiki/Tips-and-Tricks#generating-and-getting-page-numbers

Currently, I am using:

rendition.book.locations.generate(1024);
    rendition.on(
      'relocated',
      function(locations) {
        this.setState({
          currentPage: rendition.book.locations.locationFr

[2019-12-16 09:03] gerhardsletten commented on #48
@DLevai94 If you are installing react-reader as a dependency I am not sure why yarn try to build the source, it already build in what you install from npm.

I am not using yarn, but if you will add a PS for this its fine

[2019-12-16 09:09] gerhardsletten commented on #46
See epub.js [example on with selection here](https://github.com/futurepress/epub.js/blob/master/examples/marks.html)

And see the the [demo-src in this repo](https://github.com/gerhardsletten/react-reader/blob/master/src/App.js) for how to obtain the epubjs rendition-object

[2019-12-16 09:09] #46 closed

[2019-12-16 10:38] gerhardsletten commented on #50
Hi, @eshaw29 the page you refer to is for the v0.2 branch so this tip cant be used with the current used branch v0.3. There is a [tip-page for v3,](https://github.com/futurepress/epub.js/wiki/Tips-and-Tricks-%28v0.3%29) but I can't see anything about getting page-numbers there.

In general there are issues getting a correct number of pages for each chapter because its only for the current chapter

[2019-12-16 10:38] #50 closed

[2019-12-16 11:42] gerhardsletten commented on #48
@DLevai94 Did an update of dependencies today, and this error is related to changes in babel-cli so this should be fixed now

[2019-12-16 11:43] #48 closed

[2019-12-16 11:52] gerhardsletten commented on #49
Hi, I have added an epubInitOptions [mention in README](https://github.com/gerhardsletten/react-reader#epubview-props) you can use with ReactReader or EpubView that will make you control this property, so you should be able to do this:

[code]

Let me now if this fixes this issue

[2019-12-26 11:42] turnerhayes commented on #41
These samples come from the IDPF repo, which claims to be maintained by the W3C's EPUB 3 Community Group, which suggests that SVGs in spine is a valid use case. The spec indicates that the item refs need to refer to [publication resources](https://w3c.github.io/publ-epub-revision/epub32/spec/epub-spec.html#dfn-publication-resource), which don't explicitly call out SVGs but does mention "images".

[2019-12-27 22:28] gerhardsletten commented on #41
@turnerhayes Hi, then I think this need to be supported in epub.js and is not related to React Reader, so it is best if you create a pull-request there for support for this.

[2020-01-04 13:55] MykolaSauliak opened #53 "How to track page changing ?"
Hi,
I'm using react-reader library.
Is it possible to get notice when page change, so I can start read later from the specific place?

[2020-01-06 10:18] gerhardsletten commented on #53
Hi @MykolaSauliak

The `locationChanged` callback should be called everytime user changes his location within the epub, like when they click prev/next page or navigate in the chapter-navigation. In a webapp to persist the reading position, you would store this some place and then pass this value back in the `location` property

[code]

In the [simple sample app in this repo](https://github.com/ger

[2020-01-13 15:45] #53 closed

[2020-01-13 15:45] #49 closed

[2020-01-14 03:50] eshaw29 opened #54 "Using Hypothes.is in react reader"
So it appears as though hypothes.is is compatible with epub.js. Just curious if it is possible for us to access hypothes.is through react reader and if so how.

https://github.com/futurepress/epub.js/blob/master/examples/hypothesis.html

[2020-02-07 18:29] armanhadifatah opened #55 "Problem with big epub files it take alot of time to load"
Hi

Thanks for your great work , i'm using it in one of my app, one problem which i face when i have big epub file even if it is 8MB the loading time is around 10 second , i think it will load all 8MB and after that it show the page , isn't it better to load for example a part of epub not the whole so to take less time to show.

[2020-02-10 09:13] gerhardsletten commented on #55
Hi @armanhadifatah

Regular epub-files are zip-files packaged with the html-files and media files that is used in the epub, and I think with a pure client-side way of handling this, I think you would need to download the full epub-file before extracting its contents. This is also logic handled in the underlaying epubjs library.

So if you have many big epub-files I think a better way to handle thi

[2020-02-10 09:22] gerhardsletten commented on #54
Hi @eshaw29

There is a getRendition prop, see https://github.com/gerhardsletten/react-reader#epubview-props

But I am not sure if that will be enough in order to accomplish this, but you can add a pull-request if you need to access some other parts of the underlaying epubjs api.

[2020-03-12 10:27] dhiv-nitt commented on #39
@gerhardsletten how can we counter this ? was the PS created ?

[2020-03-12 10:29] gerhardsletten commented on #39
Please add a PR for this

[2020-03-12 10:29] #55 closed

[2020-03-21 16:58] HerbertHe commented on #39
follow my steps and you can use:

1. make a new file `declaration.d.ts` in your root directory
2. write sth.

[code]
3. then, you can import the module in `.tsx`file

[2020-03-21 17:05] HerbertHe opened #56 "Back incorrect epubcifi"
Here, I have faced some troubles

When I use `ReactReader` with locationChanged function, it backed a path with `.xhtml` suffix and not epubcifi, the `toc` could not work too, hope notice this.

And another question is that I have not seen some `usages` about `ReactReaderStyle`, and how can I use it?

[2020-03-21 17:19] HerbertHe commented on #39
And then you can use nearly all of js modules which are not supported ts by using this method.

[2020-03-22 00:21] HerbertHe commented on #56
Here is the book link `https://server.jieec.cn/ebooks/test.epub` , I can't change the page by clicking TOC button. I have tried `console.log()` the location, but it appears like the demo output, it seems that everything do well.

[2020-03-22 00:26] HerbertHe commented on #56
I use this in electron application.

[2020-04-02 01:44] sharma0611 commented on #44
In EpubView, when rendition is called without a location, it is called with toc[0].href. In some ebooks, this is sometimes nav.xhtml which then doesn't work. I believe it'd be better to just call rendition.display() in this scenario with no arguments.

[2020-04-03 13:36] Elessar1996 opened #57 "prevent copy event"
How can I prevent copy events from the file which react-reader is showing? I set swipeable true to prevent the selection act. but now the user cannot scroll the book.

[2020-04-06 06:05] mahmod2000 commented on #57
I also have this problem

[2020-04-12 12:23] mahmod2000 commented on #57
I found a solution.

rendition.themes.default({
            'body': {
                '-webkit-touch-callout': 'none', /* iOS Safari */
                '-webkit-user-select': 'none', /* Safari */
                '-khtml-user-select': 'none', /* Konqueror HTML */
                '-moz-user-select': 'none', /* Firefox */
                '-ms-user-select': 'none', /* Internet Explorer/Edge */

[2020-05-21 12:41] paolodeste commented on #57
This is a good solution if you don't want to select text. If you need to preserve selection (for highlight purpose for example), is it possible to prevent copy events?

[2020-06-12 09:00] mariacheline opened #58 "Overriding styles on EpubView"
Hi, in the docs it says to override default on EpubView
you can just pass `styles` prop but doing so, not only breaks the rendering of the page but
also no styles are being applied.

**Steps to reproduce:**
Adding `styles` prop to EpubView

[code]
Any clarification on this?
Thank you 🙏🏼

[2020-07-07 19:09] alikazemkhanloo opened #60 "Update for new version of epubjs"
Hi,
I tried to update `epubjs` version in `package.json`. But I get `unexpected token 'export'` error message in my nextjs app.
Is it possible for you to update the dependency for `epubjs`? The new version has some fixes for rtl books. I don't know what else I need to do.

Thanks.
Edit: the error is located in the last line in `epubjs/libs/mime/mime.js`. I manually edited and used `commonjs` forma

[2020-07-16 03:26] mrbonini opened #61 "Some S3 links works, but other don't"
Hey
I am having a problem where some S3 links works fine and I can render the EPUBs normally, but some links returns a Forbidden error and the link is not complete finishing with '/META-INF/container.xml'.

Working link seems like this
https://s3.sa-east-1.amazonaws.com/medcel.admin/pedagogical/books/5bd36de737a0784088c22cf4/CirurgiaGeralVol.2Extensivo2019.epub

not working link is very similar
ht

[2020-08-04 07:41] gerhardsletten commented on #61
@mrbonini Don't know if it is a typo, but the file extension (.epub) is missing on the second url?

[2020-08-04 07:47] gerhardsletten commented on #60
@alikazemkhanloo Will be fixed in a new version today, reopen this issue if this don't fix your problem.

[2020-08-04 07:47] #60 closed

[2020-08-04 07:56] gerhardsletten commented on #58
@mariacheline You will need to import the basic styles and then extend it (it uses react style-attributes, ie object with css-properties), also take a look at the [used style to see what you can extend](https://github.com/gerhardsletten/react-reader/blob/master/src/modules/ReactReader/style.js)

[code]

[2020-08-04 07:56] #58 closed

[2020-08-04 08:36] gerhardsletten commented on #57
@Elessar1996 Are you using epubjs option to display a ebook with vertical scrolling, I think swipeable will not be compatible with that.

@mahmod2000 Why should a user be able to highlight something if they are not able to copy it?

It is maybe possible to hack the build in copy-event with js, but for most cases this is not something you want, so you will need to look into this yourself if the com

[2020-08-04 08:36] #57 closed

[2020-08-04 08:36] #61 closed

[2020-08-04 08:37] #56 closed

[2020-08-04 08:37] #54 closed

[2020-08-04 08:38] #39 closed

[2020-08-08 00:52] Ved111 commented on #33
I am getting the same error and am not able to find the solution.
I looked up to @kozec 's solution but I am not able to understand where I should add that code snippet.
Struggling with this error for more than 24 hours, any help will be appreciated.

[2020-08-10 07:37] gerhardsletten commented on #33
@Ved111 Please provide a repo link to showcase where this happen if you want help.

[2020-08-13 17:04] Ved111 commented on #33
https://github.com/Ved111/ReactReader.git

The actual repo link I can't share because it is a part of intellectual property but I have made this repo link which contains the react-reader ebook component as used in the actual project.

I am dynamically changing the URL of the ebook by passing the key value to the server , which in return gives back the pre-signed URL of the ebook stored in the s3 b

[2020-08-14 08:46] gerhardsletten commented on #33
@Ved111 General speaking you should not copy the code in react-reader and paste them into your own project because then you will manually need to update this in future releases. Instead you should import the modules and use its public api described in the [Usage section](https://github.com/gerhardsletten/react-reader#usage)

The solution @kozec [referees to  here](https://github.com/futurepress/ep

[2020-08-18 18:47] Ved111 commented on #33
@gerhardsletten thanks for replying. I will take care of not copying code like that. Thanks for the advice.
I did implement the fix, after applying the fix some of the epub files (which contains error as you said) started to render.
But still, for some ebooks it's still not working. And after changing the URL to the ebook URL which is error-free, RR is not able to function properly. Sometimes it k

[2020-08-19 07:14] gerhardsletten commented on #33
@Ved111 For errors you maybe will need to wrap your app in a react error boundary, to catch and handle the error. In most cases uncatched errors in js will need a restart of the webapp. Will suggest that you first develop and ensure that your application work correct with epub-files you know is error-free, then you maybe will need to debug to find what is wrong with the epub-files that you still e

[2020-08-19 12:47] uma-08 opened #62 "Plugins"
Is it possible to integrate DraftJs as a top layer on React-reader to enhance the functionality?
@gerhardsletten

[2020-08-20 08:16] gerhardsletten commented on #62
@uma-08 React-reader is a wrapper for epub.js and there is a `getRendition` prop which is a callback that gives you access to the epub.js rendition object (from the README.md)

The way epub.js work is that is create an iframe where the html-content from the current chapter of the epub-file is displayed in, so you would need to inject stuff into this to add extra interactive things inside there.

T

[2020-09-01 21:09] #62 closed

[2020-09-13 13:19] Rotten-LKZ opened #69 "How can I know if it is the last page"
How can I know if it is the last page?

And how do I calculate the percentage of reading now?

Thank you

[2020-10-02 14:12] TomasKovacikArtin opened #70 "Show Pagination"
Is it possible to get somehow the current status like:

[Page 1 of 20]

Thanks for help

[2020-10-06 11:04] raajtilaksarma opened #71 "Not able to locate demo/App.js"
As given in `README.md` not able to locate the above file in the repository.

[2020-10-09 07:52] gerhardsletten commented on #69
@Rotten-LKZ Its only possible to get the current page and total page of the current chapter you are viewing:

You can get access to the inner details of epubjs with the `getRendition` callback,  see how this is done in [src/App.js](https://github.com/gerhardsletten/react-reader/blob/master/src/App.js).

Store this in a instance-variable and use it in the `onLocationChanged` callback:

[code]
Withi

[2020-10-09 07:52] #69 closed

[2020-10-09 07:53] gerhardsletten commented on #70
@TomasKovacikArtin Take a look at the answer given in #69

[2020-10-09 07:53] #70 closed

[2020-10-13 07:13] gerhardsletten commented on #71
@raajtilaksarma The readme is now updated

[2020-10-13 07:13] #71 closed

[2020-10-13 16:05] Ved111 commented on #46
@gerhardsletten So, if I understood correctly the code under the script tag [here](https://github.com/futurepress/epub.js/blob/master/examples/marks.html) should be added to the getRendition funtion code in [RR](https://github.com/gerhardsletten/react-reader/blob/master/src/App.js) right?

[2020-10-15 06:58] gerhardsletten commented on #46
Yes thats the same rendertition

[2020-10-17 10:20] Ved111 commented on #46
@gerhardsletten I implemented the changes like you said, but I am getting following error:

TypeError: contents.mark is not a function

I have done the following changes.

`               rendition.on("selected", function(cfiRange, contents) {
                  var m = contents.mark(cfiRange, {'something' : true}, (e) => {
                    var bounds = e.target.getBoundingClientRect();

[2020-10-20 08:46] gerhardsletten commented on #46
@Ved111 The example you linked to (marks.html) is pretty old (3 years), so I think that is for an older version of epubjs. Mayby you first need to check if it works with the current epubjs?

[2020-10-28 22:48] garytron opened #72 "Adding React-Reader in NextJS doesn't work"
# Bug report

## Description

I installed react-reader to my NextJS project (as a new project) but when I run the project in dev mode. I have the following:

**node_modules\epubjs\libs\mime\mime.js:169
export default { lookup };**

## To Reproduce

1. Install library `npm install react-reader --save`
2. Copy [example](https://github.com/gerhardsletten/react-reader/blob/master/src/App.js) into page

[2020-11-07 04:38] trolliama opened #73 "It has some way to add annotations?"
Can i add, remove or edit annotations with this wrapper?

[2020-11-18 18:48] adilier commented on #72
I think it's because next.js uses server side rendering, so you can't access the browser functionality without disabling ssr

[try using dynamic import: https://nextjs.org/docs/advanced-features/dynamic-import](https://nextjs.org/docs/advanced-features/dynamic-import)
[example: https://codesandbox.io/s/fervent-chatterjee-69vv7?file=/pages/index.js](https://codesandbox.io/s/fervent-chatterjee-69vv7

[2020-11-23 22:19] gerhardsletten commented on #72
@garytron Did @adilier comment work for you?

The error looks like a its related to the ES6 Module syntax, and I am not sure how nextjs support that. But anyway there is no reason to try to render the e-pub server-side, so like @adilier says this should be moved to client-side only. A simple useMounted hook can be used to force a rerender on client

[code]

[2020-11-26 18:55] timotech opened #75 "Epub display all squeezed together"
I think there is a problem with the styling of the react-reader component, its not displaying the full epub file, a lot of the display is hidden, only the toc part is showing with zero height, showing scroll bars without any height. The reading part is not showing at all.
On inspecting the html, there are a lot of height: 0px in the mark-up.
Please look into it.

Thanks

![react-reader](https://us

[2020-11-27 07:47] gerhardsletten commented on #75
@timotech [https://gerhardsletten.github.io/react-reader/](https://gerhardsletten.github.io/react-reader/) also runs the latest version, so you should check if it is working there, if it does, then there error is in your implementations

[2020-11-27 08:14] timotech commented on #75
Hi Gerhard,
Thanks for your reply, i initially sent you a mail, i guess you have not seen it.
Actually, i don't know what i did wrong.
First i did npx create-react-app react-reader-client
Then i ran it and it displayed the initial react page
Then i deleted the code in the app.js file and replaced with the one below:
`import React, { Component } from "react";
import { ReactReader } from "react-read

[2020-11-27 08:42] gerhardsletten commented on #73
Hi @trolliama It has been asked in earlier issues, so you can see if you find some direction there. One day I have some time I will try to add some more examples to the demo.

[2020-11-27 08:52] gerhardsletten commented on #75
@timotech Try to change location to {0} which will render the first chapter, if the epubcfi you pass is not found by epubjs it will not render anything

[code]

[2020-11-27 09:03] timotech commented on #75
Thanks Gerhard,
I just did that,
<ReactReader
url={"/alice.epub"}
title={"Alice in wonderland"}
location={0} // <-- this
locationChanged={(epubcifi) => console.log(epubcifi)}
/>
Same result.
I'm thinking of re-creating the react app, then try all over again

[2020-11-27 09:09] gerhardsletten commented on #75
@timotech You could try to publish it to your github, and then I could take a look. Btw, did you add the epub `alice.epub` into your project?

[2020-11-27 09:13] timotech commented on #75
Yes, i will publish it now. Actually, when i used the code on your github, everything works fine. But when i published to my windows domain hosting it was not showing, it was complaining of the path www.mydomain.com/react-reader. So i decided to do a new react app, so that i can just type www.mydomain.com without the react-reader part, but now, its not displaying well locally.
I will publish it to

[2020-11-27 09:31] timotech commented on #75
Hi Gerhard,
Please check the github link below. Thanks
https://github.com/timotech/my-react-epub-reader

[2020-11-27 16:17] timotech commented on #75
Hi Gerhard,
Thanks for your help
Any update please
Thanks

[2020-11-30 08:36] gerhardsletten commented on #75
@timotech Checked out your example, and the problem is that your parent div with height and width set in procent dont work because you have not set a height for the body-tag, so either you can add a height/width to the body-tag, or you can use the vw and vh units for css on the wrapper to force the same height as the window.

[code]

[2020-11-30 09:16] timotech commented on #75
Wow Gerhard,
Thanks a lot, I didn't think it this way.
I don't want to be Oliver Twist, but I just wanted to ask, if I wanted to put a flip effect, how can I do it. Thanks

[2020-11-30 09:38] gerhardsletten commented on #75
@timotech React reader is a wrapper of https://github.com/futurepress/epub.js/ and I am not sure if that support that kind of visual indication of going to prev/next page. Check out their issues maybe

[2020-11-30 09:38] #75 closed

[2020-11-30 10:08] timotech commented on #75
Ok Thanks Gerhard, you have been so much help

[2020-11-30 14:48] Seiksv opened #76 "Installing problems!"

[2020-12-09 12:41] mbret opened #77 "Failed prop type: Invalid prop `url` supplied to `EpubView`"
When using `blob` which are valid, this warning shows up.

Would it be fair to add a new prop type here https://github.com/gerhardsletten/react-reader/blob/master/src/modules/EpubView/EpubView.js#L150 ?

[2020-12-18 14:57] hamidrezaborghei commented on #72
Thanks Worked

[2020-12-18 15:19] #72 closed

[2020-12-18 15:21] #76 closed

[2020-12-31 06:34] sadam1807 opened #78 "react reader question"
@gerhardsletten  I have a few questions, please answer
   1. how I can change the font-size , I tried using styles props but it's breaking the entire UI, please provide an example.
   2. How I can make it scrollable instead of the next and prev button.
   3. Aws s3 bucket signed URLs are not working with this libraries

please help

[2021-01-05 10:16] gerhardsletten commented on #78
Hi @sadam1807

1. The "style props" is just for the react wrapper, you will need to look into the underlaying iframe from epubjs to change the font-size. You connect with epubjs through the `getRendition` props, and in the callback take a look at `rendition.current.themes.fontSize`

2. To make it scrollable you will need to look into the epubOptions prop, see readme for more info.

3. Look through

[2021-01-05 10:16] #78 closed

[2021-01-05 10:23] gerhardsletten commented on #77
@mbret It it works with `PropTypes.instanceOf(Blob)` you are welcome to add it as a PS

[2021-01-21 14:43] superkruger opened #80 "View is rendered without content"
Followed instructions to create new project.
View renders without any epub content.

When changing parent div to "absolute", menu can be seen, but still no content.

Example project: https://github.com/superkruger/reader-app

[2021-01-21 15:07] superkruger commented on #80
This is output in the console:
No startContainer found for epubcfi(/6/2[cover]!/6) - epubcfi.js:931

[2021-01-22 19:25] ErnestGrey commented on #80
@superkruger I was having this issue as well. It seems like the `<iframe>` within `<div class="epub-view">` has a height of 0. If I give that element a height in the inspector then the content shows up. However, if I give a height to the parent `<div>` wrapping the `<ReactReader>` the menu shows up, but I don't see any content. I've followed the example and the demo and I can't seem to figure out

[2021-01-22 19:45] ErnestGrey commented on #80
Actually, it's not just the <iframe> it's several divs  wrapping that element that have a height of 0. It seems like the height isn't being inherited for some reason.

[2021-01-25 14:48] ErnestGrey commented on #80
I cloned the project and ran it locally and no content is showing. Anyone else having this issue too?
![Screen Shot 2021-01-25 at 9 46 57 AM](https://user-images.githubusercontent.com/1953040/105721389-83b97c80-5ef2-11eb-9d5a-949c15ea1b3e.png)

[2021-01-25 14:59] superkruger commented on #80
I've tried another wrapper implementation (https://github.com/cnscorpions/react-epub-reader), same result.

Eventually just decided to use the epubjs own express based version (https://github.com/futurepress/epubjs-reader) and modify that...

[2021-01-25 15:24] ErnestGrey commented on #80
I found this issue, at least for me, it has to do with the last commit [here](https://github.com/gerhardsletten/react-reader/commit/53bf2ef2651a8b44c4e8ce31dbc5d42bc6aa1cf6). If you remove the `styles` prop from `<EpubView>`, you will see the content.

[2021-01-29 07:53] mahdieh-sedaghat commented on #46
@gerhardsletten I installed the latest version of epubjs, but I still got the following error:
TypeError: contents.mark is not a function

Can you help me to fix that error?

[2021-01-29 08:17] mahdieh-sedaghat opened #81 "Problem with highlighting text in the reader"
I saw the same issue that was closed, but I still faced this issue. I followed the instruction provided in this [example](https://github.com/futurepress/epub.js/blob/master/examples/marks.html) to implement text highlighting. Also, I updated epubjs to the latest version, but I got the following error:
TypeError: contents.mark is not a function

Can anyone help me to fix this error?

[2021-01-29 09:43] gerhardsletten commented on #80
@superkruger @ErnestGrey Sorry, there was a PR that I did not checked enough, but its fixed now in `react-reader@0.20.3`

[2021-01-29 09:43] #80 closed

[2021-01-29 11:52] sepiddd commented on #81
I have faced this issue too. :( @gerhardsletten

[2021-02-08 11:03] cryptoprof opened #82 "Image display problem on mobile phones"
Hi, thanks for the great project!
In the example, https://gerhardsletten.github.io/react-reader/, when I switch to developer mode and select mobile, parts of the images are displayed on the next page.
![image](https://user-images.githubusercontent.com/15214242/107210433-2c98c900-6a15-11eb-90db-05fc99db3c2a.png)
I tried to fix it by adding styles, but looking at the code, I realized that they are b

[2021-02-11 09:05] sunny8751 commented on #11
Adding this prop to ReactReader worked for me:
[code]
Documentation: http://epubjs.org/documentation/0.3/#themes

[2021-02-11 10:01] sunny8751 commented on #81
Try adding a highlight annotation on the cfi:
[code]

[2021-02-17 09:26] gerhardsletten commented on #82
@cryptoprof The style-props for react-reader only apply to the react-elements wrapping the epubjs iframe, so to apply your own styles to the epub inside the iframe you need to use the `getRendition` callback prop to get access to the [epubjs rendition object](http://epubjs.org/documentation/0.3/#rendition)

[code]

[2021-02-17 09:31] cryptoprof commented on #82
Thank you again! Awesome!

[2021-02-17 09:31] #82 closed

[2021-03-21 03:55] ahmdichsan commented on #19
@mira-thakkar, did you find solution to your problem? I encounter the same issue and the same requirement as yours. When I click one of the chapter on the left side (toc), its just close the side bar (toc). I also need to show the current page information. Moreover, when I open the epub, its not start from the beginning. I am using:

[code]

[2021-03-21 08:04] ahmdichsan commented on #19
Sorry, mybad, I forgot to maintain the ```location``` state. All is well now. But I still couldn't figure out how to show the current page. If anyone have a working example, please share it. Thank you.

[2021-03-22 08:30] gerhardsletten commented on #19
@ahmdichsan For page number, take a look at getRendition callback in [the example](https://gerhardsletten.github.io/react-reader/) there is a location->displayed object which you can use to see the current page of the current chapter. Note that epubjs will only be able to give you page numbers of the current chapter, because it needs to render it before it will know how many pages it will take up

[2021-03-22 12:45] rsunbabu opened #84 "Search functionality"
I couldnt see the filter feature; is there any functionality set to enable this?

[2021-03-23 09:16] gerhardsletten commented on #84
Hi @rsunbabu

If you would like to create a search functionality in your epub-reader, you would most likely need a server backend that can index the epub files you offer. React reader is a react-wrapper for [epub.js](https://github.com/futurepress/epub.js/) and to my knowledge it does not support searching directly (clientside) in the whole epub-file.

I am no expert in writing the core logic of a

[2021-03-26 05:27] rsunbabu commented on #84
Thank you

[2021-03-26 05:27] #84 closed

[2021-05-05 04:55] qtv100291 opened #85 "How to get current page and total number of page ?"
Hello, I would like to ask about how to get current page number and total number of page .
In your section ReactReader props, there is a prop :

but the current location returned is in under form like epubcfi(/6/8[chapter_001]!/4/2/16/3:14), How can I get page number from this text ?

[2021-05-07 21:35] gerhardsletten commented on #85
@qtv100291  Since you would need to render a dom-element to know its width/height, epubJS only knows how many pages your current chapter is (its web-based) based on your viewport. Take a look here go get the visible page of the current chapter here #69

[2021-05-07 21:35] #85 closed

[2021-05-22 05:44] qtv100291 opened #86 "Render Sub menu in <ReactReader /> Component"
Sometimes, a chapter is too long and is divided into some small parts. Could I create sub menu for this case ?

[2021-05-25 09:41] lyseiha opened #87 "Do you plan to create for React Native support?"

[2021-05-27 16:00] itopmoon opened #88 "Audio support in epub file."
Is it possible to play audio from the epub file? If not possible, is there any plan or way to add it?
Thanks.

[2021-06-29 12:54] Ibnathism commented on #33
I was getting this error. It didn't work for some epubs even after adding the rendition.

But It finally worked after I set the initial value of location to null and did some changes in the rendition.
Some thing like this:

[code]

[2021-07-04 22:26] nycynik opened #89 "global is not defined"
I'm trying to use this in a new project, but it fails with "global is not defined"

I've tracked it down to this line:

`global.ePub = Epub; // Fix for v3 branch of epub.js -> needs ePub to by a global var`

in this file https://github.com/gerhardsletten/react-reader/blob/3c605061e81da8792435e232e8868fea9dda70b3/src/modules/EpubView/EpubView.js

I'm not using the exact syntax from the readme, and

[2021-07-04 22:44] nycynik commented on #89
In true "let's see if we can get this to work" form. I went ahead and tried to define global.

[code]

it almost worked, the epub view now renders, the TOC `=` button shows up and can be clicked, but it never actually loads the epub. (Of course, I suspect that is because it can't find the ePub defined on Window.

[2021-07-11 14:30] paras205 opened #91 "How to add dark mode and scrolled view?"

[2021-07-27 21:25] linojon opened #92 "SyntaxError: Unexpected token 'export'"
hello, i'm trying to use this package with a Next.js project. I get the following error in my project. So I created a new project and get the same error,
[code]
added the package, and created a simple page. It fails on the import (even without using the ReactReader component), with this error
[code]
I tried adding a .babelrc file
[code]
and other things. I'm stumped.

[2021-08-03 08:08] gerhardsletten commented on #92
@linojon Duplicate of #72 - see it for solution

[2021-08-03 08:08] #92 closed

[2021-08-03 08:51] gerhardsletten commented on #91
@paras205 When I wrote it, I choose to use react basic styles for a non specific styling solution, see [src/modules/ReactReader/style.js](https://github.com/gerhardsletten/react-reader/blob/master/src/modules/ReactReader/style.js)

But you can overwrite some of them with own css-rules in the `styles` prop.

To make in scrolled, pass this into epubOptions prop

[code]

[2021-08-03 08:51] #91 closed

[2021-08-03 13:07] gerhardsletten commented on #89
@nycynik Fixed in your PR, thanks

[2021-08-03 13:07] #89 closed

[2021-08-03 13:08] gerhardsletten commented on #88
@itopmoon See [limitations in readme](https://github.com/gerhardsletten/react-reader#limitations) on support for epub V3

[2021-08-03 13:08] #88 closed

[2021-08-03 13:11] gerhardsletten commented on #87
@lyseiha React-reader wraps epubJS which used the DOM, but the creator of EpubJS has created [epubjs-rn](https://github.com/futurepress/epubjs-rn), but I am not sure how well it works.

[2021-08-03 13:11] #87 closed

[2021-08-03 13:12] gerhardsletten commented on #86
@qtv100291 Could you supply with some screenshot to illustrate the problem?

[2021-08-03 13:15] gerhardsletten commented on #81
@mahdieh-sedaghat @sepiddd

Thanks for your sample @sunny8751, I have also updated the README with more sample on what people often ask for, so see [hightlight-selection-in-epub](https://github.com/gerhardsletten/react-reader#hightlight-selection-in-epub)

[2021-08-03 13:15] #81 closed

[2021-08-03 13:16] gerhardsletten commented on #73
@trolliama I have added an example where [hightlight-selection-in-epub](https://github.com/gerhardsletten/react-reader#hightlight-selection-in-epub)

[2021-08-03 13:16] #73 closed

[2021-08-03 13:20] gerhardsletten commented on #85
@qtv100291 I have also added an example here: [display-a-scrolled-epub-view](https://github.com/gerhardsletten/react-reader#display-a-scrolled-epub-view)

[2021-08-03 16:20] trolliama commented on #73
thanks!

[2021-09-08 22:59] nvuhung opened #93 "Hide contextmenu on mobile and show custom options menu after highlight"
Hello, I want to hide the default context menu on mobile web:
![image](https://user-images.githubusercontent.com/11483168/132595897-adfd8270-5a70-4e0a-bc34-c67535b95762.png)

Then show the custom options menu above the selected text

![image](https://user-images.githubusercontent.com/11483168/132596379-137c13cb-4e86-48de-8090-f6ac364e65e5.png)

Do you have an idea?

[2021-09-10 15:59] Brenw10 opened #94 "Changing fontSize is not affecting highlight"
I'm facing an issue related to highlight and fontSize.
Basically when I select a text and then change the fontSize, the highlight still on the same place.

https://user-images.githubusercontent.com/20256448/132882300-ac007ed0-2c84-41a4-af28-a85f77b85dea.mp4

To fix this issue I have created a repaint function (workaround) that executes after fontSize changes, this function removes and adds the hig

[2021-10-09 10:48] gerhardsletten commented on #93
@nvuhung Take a look at this [SO-answer](https://stackoverflow.com/questions/16039219/disable-selection-context-menu-in-ios-safari).

You will need to apply this css-rule inside the iframe epubjs render to by following [this recipe](https://github.com/gerhardsletten/react-reader#add--adjust-custom-css-for-the-epub-html) for React reader

[2021-10-09 10:49] #77 closed

[2021-10-11 06:21] fkazemi5236 opened #95 "Problem with loading custom fonts"
There is no ability to add fonts in this package. Images are displayed irregularly on mobile pages and are not appropriate

[2021-10-12 15:44] heymartinadams commented on #91
Congrats, Gerhard! How lovely! All best to you and your family ✨

[2021-11-04 10:19] #94 closed

[2021-11-04 10:19] #93 closed

[2021-11-04 10:26] gerhardsletten commented on #95
@fkazemi5236 The epub-file is a zip of html-documents that can contain custom css and fonts if the publishers added it. Take a look at this [recipe on how you can override the inner css](https://github.com/gerhardsletten/react-reader#add--adjust-custom-css-for-the-epub-html) of an epub.

For both safety and to avoid styles bleed in or of of the epub-file, epubjs which this library wraps, render th

[2021-11-14 07:14] fkazemi5236 opened #96 "how we can have singleView of epub in this package?"
how we can have singleView of epub in this package?

[2021-11-14 07:22] fkazemi5236 commented on #95
tnks
I tried so hard. I was able to add to that style using the override method
like this:
rendition.themes.override('color' , '#424242')

[2021-11-14 08:34] fkazemi5236 opened #97 "how we can fix problem with tables in mobile view?"
how we can fix problem with tables in mobile view?

[2021-11-14 12:23] fkazemi5236 opened #98 "how we can add google fonts to our epub file?"
how we can add google fonts to our epub file?

[2021-11-15 14:41] Benjamim-EP opened #99 "direct link url from google drive"
I'm trying to load an epub directly from my drive, which is shared and with the direct download link

https://drive.google.com/uc?export=download&id=144DnWARzAslwNfCu8Cr0lpUtqBMJdATY

however it stays on the loading screen... , does the link extension need to have '.epub' at the end? as in the example
https://gerhardsletten.github.io/react-reader/files/alice.epub

I also needed to use an extension

[2021-11-17 09:12] fkazemi5236 opened #100 "show "current page" and "total pages""
Hi.
First question:
  How to display the current page and total pages?
Second question:
If the device is resized or device rotates, how can the pages be updated?

note: You may need to provide a more complete document about this package

[2021-11-18 14:06] gerhardsletten commented on #100
@fkazemi5236 Please see Readme about this

[/gerhardsletten/react-reader#display-page-number-for-current-chapter](https://github.com/gerhardsletten/react-reader#display-page-number-for-current-chapter)
[/gerhardsletten/react-reader#limitations](https://github.com/gerhardsletten/react-reader#limitations)

In short, epubjs dont support this..

[2021-11-18 14:06] #100 closed

[2021-11-18 14:09] gerhardsletten commented on #99
@Benjamim-EP First up, your url gives a 404, but also see [#handling-missing-mime-types-on-serve](https://github.com/gerhardsletten/react-reader#handling-missing-mime-types-on-server)

[code]

[2021-11-18 14:13] gerhardsletten commented on #99
@Benjamim-EP Also if google drive not allowing setting custom cors, I would write a in between service on Vercel to fetch and forward the request with correct cors headers. Neither react or the "browser" is able to override how a file from an external server is delivered

[2021-11-18 14:14] gerhardsletten commented on #98
@fkazemi5236 See #95

[2021-11-18 14:14] #98 closed

[2021-11-18 14:16] gerhardsletten commented on #97
@fkazemi5236 You can try to patch the embedes styles of a epub-file with this [#add--adjust-custom-css-for-the-epub-html)](https://github.com/gerhardsletten/react-reader#add--adjust-custom-css-for-the-epub-html)

[2021-11-18 14:43] gerhardsletten commented on #96
@fkazemi5236 Could you please try to explain what are you meaning?

[2021-11-20 06:12] fkazemi5236 commented on #96
It shows me a page on the left and a page on the right.
I need only one page in the middle

[2021-11-20 06:16] fkazemi5236 commented on #95
There is no way to add fonts from Google. In this style writing model, font-face cannot be inserted

[2021-11-23 11:06] gerhardsletten commented on #95
@fkazemi5236 Maybe you could look in issues for epubjs, see [one resent issue about fonts there](https://github.com/futurepress/epub.js/issues/788)

[2021-11-23 11:06] #95 closed

[2021-11-23 11:06] #99 closed

[2021-11-23 11:15] gerhardsletten commented on #96
@fkazemi5236 You can pass options to [epubjs rendition](http://epubjs.org/documentation/0.3/#rendition) with `epubOptions` prop. See also [another epubjs doc here](https://github.com/futurepress/epub.js/blob/master/documentation/md/API.md#spread-1)

[code]

[2021-11-23 11:15] #96 closed

[2021-11-23 11:16] #97 closed

[2021-11-25 10:11] girishsokate opened #101 "capture the next prev arrow events"
I need to customize the next and prev  button events so as to disable the buttons at the end of the chapter

[2021-11-30 09:32] fciannel opened #102 "access to js script inside epub"
Inside the epub I have put a javascript file that I need to load to do some stuff while I am reading the book. The file is inside the js directory and each chapter has a <script> link to it in the <head>. The question I have is how do I access to that script using react-reader? It seems like it's bypassed at the moment?

[2021-11-30 12:19] gerhardsletten commented on #101
@girishsokate You should re-create the reader (https://github.com/gerhardsletten/react-reader/blob/master/src/modules/ReactReader/ReactReader.js) in your own project, you can then customize everything around the `EpubView` view

[2021-11-30 12:24] gerhardsletten commented on #102
@fciannel This repo is a react wrapper for epubjs, and epubjs render the epub inside an iframe. You could look into epubjs issues to see if there are some answers there, but as far as I know there are security limitations both on what the iframe can do on the parent page and vica versa what the parent page can do inside an iframe

[2021-12-20 11:31] #102 closed

[2021-12-20 11:31] #101 closed

[2022-01-12 06:01] technophilix opened #103 "Serach and bookmark"
Search is not so difficult. I have developed a search and bookmark module for this existing scenario.

[2022-01-19 19:50] hichemfantar opened #105 "Unable to access the flow property on rendition instance"
According to epubjs docs, there's a flow property on the rendition object that allows me to change the flow but this library doesn't expose an API to change that.

[2022-01-19 20:05] hichemfantar commented on #105
Nvm, It's on renditionRef.current.flow("paginated");

[2022-01-19 20:05] #105 closed

[2022-01-21 22:01] #103 closed

[2022-01-24 15:10] technophilix opened #108 "Swipable value true disables all hyperlinks in epub"

[2022-01-28 14:41] erickbank opened #109 "Highlight on Safari - Production"
Even in react-reader example , when user tries to highlight in a safari browser on production , the console shows this message
and nothings happens.

Blocked script execution in 'about:srcdoc' because the document's frame is sandboxed and the 'allow-scripts' permission is not set.

anyone who fixed this?

[2022-02-16 08:32] gerhardsletten commented on #108
@technophilix Yes, this works by wrapping the reader in a div that uses `react-swipeable` so this will block all clicks down to the reader-content. I also see this mention in their issues:

https://github.com/FormidableLabs/react-swipeable/issues/215

[2022-02-16 08:32] #108 closed

[2022-02-16 09:28] gerhardsletten commented on #109
@erickbank Hi, you can add `allowScriptedContent` to allow scripts in iframes See https://github.com/futurepress/epub.js#scripted-content

[code]

[2022-02-16 09:28] #109 closed

[2022-03-01 13:39] AhmadNasary opened #112 "how to use react-reader for arabic(rtl) ebook"
hello
hope are you doing will
I how to use this package for Arabic books. the Arabic book is reading from right to left site how can use this or not?

[2022-03-08 09:36] simmondsty opened #113 "Add classes to reader elements"
First of all, thank you for this great library.

Is it possible to add classes to individual elements such as toc buttons for a custom hover effect?

[2022-03-16 22:27] gerhardsletten commented on #113
@simmondsty To avoid users to use a specific styling solution line styled-components it only use basic react style-tags, which don't support hover. You could try to reach elements by their type and nesting like:

[code]
Else your could re-create the reader-component your self, take a look at https://github.com/gerhardsletten/react-reader/blob/master/src/modules/ReactReader/ReactReader.js, in it yo

[2022-03-16 22:33] gerhardsletten commented on #112
@AhmadNasary Have never worked with RTL, could you share a public example in a repo with this? Also I see that there is a lot of issues in epubjs for RTL, so I am not sure how well it support that either: https://github.com/futurepress/epub.js/issues?q=is%3Aissue+is%3Aopen+rtl+

[2022-03-17 07:53] simmondsty commented on #113
Thank you Gerhard, this resolves the issue, adding classes in the lib files worked perfectly.

[2022-03-17 07:53] #113 closed

[2022-04-13 13:04] josejuansanz commented on #95
Hi,

I know this is closed, but I had the same problem and found a solution. I've used the [Web Font Loader](https://github.com/typekit/webfontloader) library, which allows us to load fonts from different providers (Google fonts included) and it has a configuration parameter to inject the fonts into an [iframe](https://github.com/typekit/webfontloader#iframes).

So, what I've done is to use this l

[2022-04-29 16:23] caronchen opened #115 "Undefined ReactReaderStyle"
[code]
<img width="191" alt="image" src="https://user-images.githubusercontent.com/150803/165984550-8e7b8201-dc22-4335-8a16-49ec363d0684.png">

[code]

[2022-05-21 10:29] agatumm420 opened #116 "Arrows (and navigation) not working in React.StrictMode"
I'm using react-reader for my project, but arrows do not allow to get to another page of the book. Epub seems to be working fine, you can get to different places using chapters at the beginning of the book. Does anyone have any idea why that is going on?

[2022-05-21 11:29] agatumm420 commented on #116
Ok I checked and the location is actually changing but nothing new is being displayed. Why could that be?

[2022-06-03 10:05] raphael10-collab opened #117 "You may need an appropriate loader to handle this file type: what webpack loader is needed ?"
I'm getting this error:

    index.js?387e:561 [webpack-dev-server] ERROR in ./src/app_E/components/App_E.jsx 125:6
    Module parse failed: Unexpected token (125:6)
    You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
    |
    |

    |         <ReactReader
    |           url="https:

[2022-06-03 11:24] raphael10-collab commented on #117
Solved adding `babel-loader` and `polyfills`

[2022-06-03 11:24] #117 closed

[2022-06-03 17:52] gerhardsletten commented on #115
@caronchen Thank, looks like the ts typefile did not match what was exported from the module. Should be fixed in `react-reader@0.21.2`

[2022-06-03 17:57] gerhardsletten commented on #116
@agatumm420 Still not solved? Try with the demo-book (https://react-reader.metabits.no/files/alice.epub) or share a example

[2022-06-03 17:58] #112 closed

[2022-06-09 18:21] darkojelen opened #118 "Part of page become hidden"
While doing on my project I notice that when I click on "Use full browser window", text slide up, but bottom stay blank.  Bottom text in height of header become invisible and it is missing. I need to go to first page with arrow buttons and after that problem disappear. I check also with your demo and it behaves similar.
Div with class epub-view and iframe with id="epubjs-view …" do not get correct

[2022-07-10 00:21] Lamarcke commented on #116
Also have the same problem, using the exacly same snippet on the README tutorial.

[2022-07-10 00:36] Lamarcke commented on #116
Setting epub location on localStorage and then retrieving it on first render actually works, and the page changes, but the arrow keys don't change the epub page.

`const [location, setLocation] = useState<any>(
        localStorage.getItem("epub-location")
            ? localStorage.getItem("epub-location")
            : 2
    );

    const locationChanged = (location: any) => {
        localStora

[2022-07-11 09:17] gerhardsletten commented on #116
@Lamarcke Could you please publish an example where this is not working. Just checked [https://react-reader.metabits.no/](https://react-reader.metabits.no/) and arrow works for me.

[2022-07-11 20:59] Gremash commented on #116
I am having the same problem and just created a sample project with the issue: [https://github.com/Gremash/react-reader-test](https://github.com/Gremash/react-reader-test)

[2022-07-20 21:59] gerhardsletten commented on #116
@Gremash @Lamarcke Did have a look at the sample repo now, and looks like you need to remove `<React.StrictMode>` in index.js.

Have to look more into this after vacation how to make the component support strict mode..

[2022-07-21 08:48] Lamarcke commented on #116
Thank you for your time. I hasn't expecting something like this, but i'm
glad there's a way to use your library in my project now, thanks.

Em qua, 20 de jul de 2022 18:59, Gerhard Sletten ***@***.***>
escreveu:

[2022-07-28 06:20] Lamarcke opened #120 "Any way to access (and possibly edit) the ReactReaderStyle after it's rendered?"
I want to sync the inner and outter part of the reader to a custom theme, but it seems like i need to manually build a ReactReaderStyle object and pass it in the styles prop.

Is there any way to access and edit this property just like with `getRendition(rendition.themes)`?
Please point me to the right direction, thanks.

[2022-07-28 13:50] Lamarcke commented on #120
After some reading, i've discovered myself that this is not possible.

If someone has a similar use case, defining a function that creates an entire `ReactReaderStyle` object is pretty simple.
[This example](https://github.com/gerhardsletten/react-reader/blob/master/src/modules/ReactReader/style.js) has the default style so you won't need to start from scratch.

It has one missing property , and 1

[2022-07-28 13:50] #120 closed

[2022-09-11 00:18] azu commented on #116
I've submit PR to fix this issue #123

[2022-09-12 08:43] #116 closed

[2022-09-12 08:47] #115 closed

[2022-09-12 08:59] gerhardsletten commented on #118
@darkojelen Should work now

[2022-09-12 08:59] gerhardsletten commented on #116
@azu Published in react-reader@0.21.3

[2022-09-16 18:29] avalero opened #124 "document's frame is sandboxed and the 'allow-scripts' permission is not set - SAFARI"
On safari, when clicking on a TOC link the following message appears on the console
[code]
In other browsers it works just fine

[2022-09-20 11:05] michaldev opened #125 "NextJS - META-INF/container.xml 404 (Not Found)"
Hi. I have problem with using this library on NextJS distribution of reactjs.

PDF: https://react-reader.metabits.no/files/alice.epub

I got error:
`GET http://localhost:3000/META-INF/container.xml 404 (Not Found)`

I used dynamic for loading "non-ssr" library, like this:
[code]

Full example here:
https://github.com/michaldev/example-with-nossr-react-reader/

![Zrzut ekranu z 2022-09-20 13-00-46]

[2022-10-06 02:40] terzeron commented on #33
In many cases, the target variable must be either CFI string, number or string (as spine ID or href). Otherwise, the target variable should be handled as 'undefined'. But this may be not a sillver bullet for problems.

[code]

### spine.js
[code]

[2022-10-06 10:18] terzeron commented on #33
@gerhardsletten
No, it's just a issue of a certain epub file and we need some exception handling.
Thank you for this project very much.

[2022-10-06 12:00] terzeron commented on #33
[epub.zip](https://github.com/gerhardsletten/react-reader/files/9724579/epub.zip)
This is a proprietary file. I'd delete this attachment after you download it.

[2022-10-13 13:33] gerhardsletten commented on #33
@terzeron Thanks, have downloaded int now

[2022-10-26 05:51] johnfactotum commented on #124
You'll need to set `allowScriptedContent` to `true` in `epubOptions`. See https://github.com/futurepress/epub.js/blob/v0.3.93/README.md#scripted-content.

For reference, I believe the WebKit bug is https://bugs.webkit.org/show_bug.cgi?id=218086.

[2022-11-07 15:08] lakshmikanth-reddy-au2 opened #129 "'ReactReaderStyle' only refers to a type, but is being used as a value here."
Hey, I am trying to use custom styling, But the ReactRenderStyle is only refering to type. I cannot use it as value. Can someone help?

I am using the latest version @`0.21.2`

![image](https://user-images.githubusercontent.com/49977739/200344081-66b555f5-f10e-4f1d-ae8e-f2fdfb36f2b1.png)

[2022-11-13 17:45] avalero commented on #124
Great. It works

[2022-11-13 17:45] #124 closed

[2022-11-13 17:55] avalero opened #131 "Cannot open links from ePub"
Hello,

When loading an epub with an external link (`target=_blank`) I get the following error on Firefox/Safari/Chrome console
[code]
and the link does not open.

I have looked for a prop to configure this behaviour, but I have not found any on the `RenditionOptions` interface.

If I right click on the links and click "Open on a new..." it works just fine.

[2022-11-16 04:54] GrammyBread commented on #129
Hi There!

I believe this was a miss in the Typing for this project. Based off of a quick review of the typing, it doesn't look like the types for this project were written to properly support custom styling in typescript. I don't see that the owners specifically called out typescript support for this feature, so I'm guessing this may be on their roadmap (if they are still supporting this project)

[2022-11-18 17:02] mogadanez opened #133 "bookmarks support"
is it supported? seems nested library have it.
https://github.com/futurepress/epub.js/search?q=bookmark&type=commits
any ideas how to  implement  this functionality with react-reader?

[2022-11-30 23:23] gerhardsletten commented on #131
@avalero You need to add allowPopups, [see PR from epubjs here](https://github.com/futurepress/epub.js/pull/1249)

[code]

[2022-11-30 23:23] #131 closed

[2022-11-30 23:28] #118 closed

[2022-11-30 23:43] gerhardsletten commented on #133
@mogadanez Did you look at [the example here](https://github.com/gerhardsletten/react-reader#hightlight-selection-in-epub), you will also need to make your own reader by copy [ReactReader.js](https://github.com/gerhardsletten/react-reader/blob/master/src/modules/ReactReader/ReactReader.js) into your project, and add your own GUI to bookmark the current page

[2022-11-30 23:43] #133 closed